<div class="row mx-0 pt-2">
  <div class="col-9">
    <app-stream-song
      [poster]="poster"
      [topSellingOfUser]="topSellingOfUser$ | async"
      [productId]="fileId"
      [productInfo]="productInfo$ | async"
      [comments]="comments$ | async"
      [isLogin]="isLogin$ | async"
      [playList]="playLists$ | async"
      [userDetails]="userDetails$ | async"
      [isLoading]="isLoading$ | async"
      [isOwnSong]="isOwnSong$ | async"
      (searchComment)="searchComment($event)"
      (addView)="onAddView($event)"
    ></app-stream-song>
  </div>
  <div class="col-3">
    <nav class="navbar navbar-light bg-light">
      <br>
    </nav>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header"><Strong>Top selling From {{(productInfo$ | async)?.username}}</Strong></div>
      <div class="card-body">
        <nz-list class="bg-white px-2 rounded-lg">
          <nz-list-item class="hover-able" *ngFor="let item of (topSellingOfUser$ | async); let i=index">
            <ng-container>
              <span class="mx-2" [class]="'top-'+(i+1).toString()">{{i + 1 }}</span>
              <nz-list-item-meta nzDescription="{{item.username}}">
                <nz-list-item-meta-title>
                  {{item.productName}}
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </ng-container>
          </nz-list-item>
        </nz-list>
      </div>
    </div>
  </div>
</div>
