<div class="row mx-0 pt-2">
  <div class="col-9">
    <app-stream-song
      [poster]="poster"
      [productId]="fileId"
      [productInfo]="productInfo$ | async"
      [comments]="comments$ | async"
      [isLogin]="isLogin$ | async"
      [playList]="playLists$ | async"
      [userDetails]="userDetails$ | async"
      [isLoading]="isLoading$ | async"
      [isOwnSong]="isOwnSong$ | async"
      (searchComment)="searchComment($event)"
      (addView)="onAddView($event)"
    ></app-stream-song>
  </div>
  <div class="col-3">
    <nav class="navbar navbar-light bg-light">
      <br>
    </nav>
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header"><Strong>From same Author</Strong></div>
      <div class="card-body">
        <nz-list class="bg-white px-2 rounded-lg">
          <nz-list-item class="hover-able">
            <ng-container>
              <span class="mx-2">1</span>
              <nz-list-item-meta nzDescription="Author">
                <nz-list-item-meta-title>
                   1 song name
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </ng-container>
          </nz-list-item>
          <nz-list-item>
            <ng-container>
              <span class="mx-2">4</span>
              <nz-list-item-meta nzDescription="Author">
                <nz-list-item-meta-title>
                   2 song name
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </ng-container>
          </nz-list-item>
        </nz-list>
      </div>
    </div>
  </div>
</div>
