<nz-layout class="layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" class="">
    <div class="d-inline-flex align-items-center music-background w-100 justify-content-center" style="height: 80px">
      <a href="/">
        <img width="{{isCollapsed ? '55' : '73'}}" height="{{isCollapsed ? '39' : '51'}}" src="assets/music-studio.jpg" style="border-radius: 16px"/>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Admin" nzIcon="appstore" *ngIf="(userDetails$ | async)?.isActive && (userDetails$ | async)?.roleId === 0">
        <ul>
<!--          <li nz-menu-item>User management</li>-->
          <li nz-menu-item [routerLink]="'./approveAddMoney'">Request Add money</li>
          <li nz-menu-item [routerLink]="'./approveRegisterSinger'">Request Singer register</li>
          <li nz-menu-item [routerLink]="'./approvePublishSong'">Request Publish songs</li>

<!--          <li nz-submenu nzTitle="Handle Request" nzIcon="appstore">-->
<!--            <ul>-->
<!--              <li nz-menu-item [routerLink]="'./approveAddMoney'">Add money</li>-->
<!--              <li nz-menu-item [routerLink]="'./approveRegisterSinger'">Singer register</li>-->
<!--              <li nz-menu-item>Change email</li>-->
<!--              <li nz-menu-item [routerLink]="'./approvePublishSong'">Publish songs</li>-->
<!--              <li nz-menu-item>Report Violation</li>-->
<!--            </ul>-->
<!--          </li>-->
        </ul>
      </li>

      <li nz-submenu nzTitle="Singer" nzIcon="audio" *ngIf="(userDetails$ | async)?.isActive && (userDetails$ | async)?.roleId === 1">
        <ul>
          <li nz-menu-item [routerLink]="'./requestPublish'">Request publish</li>
<!--          <li nz-menu-item>Request get money back</li>-->
        </ul>
      </li>

      <li nz-submenu nzTitle="User" nzIcon="team" *ngIf="(userDetails$ | async)?.isActive && (userDetails$ | async)?.roleId === 2">
        <ul>
          <li nz-menu-item [routerLink]="'./requestRegisterSinger'">Upgrade role Singer</li>
        </ul>
      </li>
      <li nz-menu-item *ngIf="(userDetails$ | async)?.isActive === false" [routerLink]="'./profile'">
        <i nz-icon nzType="unlock" nzTheme="outline"></i>
        <span class="text-danger">Verify Email at Profile</span>
      </li>
      <li nz-menu-item *ngIf="(userDetails$ | async)?.isActive && (userDetails$ | async)?.roleId === 1" [routerLink]="'./uploadMusic'">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
        <span>Upload Music</span>
      </li>
      <li nz-menu-item [routerLink]="'./playList'">
        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
        <span>Play list</span>
      </li>
<!--      <li nz-menu-item *ngIf="(userDetails$ | async)?.isActive && (userDetails$ | async)?.roleId !== 0">-->
<!--        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>-->
<!--        <span>Request Change Email</span>-->
<!--      </li>-->
    </ul>
  </nz-sider>
  <nz-layout class="right-layout {{isCollapsed ? 'close' : ''}}">
    <nz-header class="sticky-top">
      <div nz-row class="header-nav music-background">
        <div nz-col [nzSpan]="14" class="px-3">
          <nz-input-group [nzSuffix]="suffixIconSearch" style="max-width: 25vw">
            <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchProductName" (keyup.enter)="iconSearch.click()"/>
            <div #iconSearch  [routerLink]="['/search/' + searchProductName]" style="display: none"></div>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search" [routerLink]="['/search/' + searchProductName]"></i>
            </ng-template>
          </nz-input-group>
        </div>
        <div nz-col [nzSpan]="10" class="d-flex flex-row-reverse align-content-center">
          <div class="d-flex" nz-popover [nzPopoverContent]="isLogin ? contentLoggedInTemplate : contentNotLoggedInTemplate"
               [nzPopoverTitle]="isLogin ? contentTitleTemplate : '' ">
            <nz-avatar class="my-auto" [nzSize]="64" nzIcon="user" [nzSrc]="isLogin ? (userDetails$ | async)?.avatar : ''"></nz-avatar>
            <div class="text-danger mx-1">
              <nz-tag [nzColor]="'#f50'" style="vertical-align: sub" *ngIf="isLogin">
                {{(userDetails$ | async)?.fullName }}
              </nz-tag>
              <i nz-icon nzType="caret-down" nzTheme="fill"></i>
            </div>
          </div>
          <ng-template #contentTitleTemplate>
            <div class="d-flex justify-content-center">
              Money<div class="text-danger">{{': ' + ((userDetails$ | async)?.money | number:'0.0-3') + ' VND'}}</div>
            </div>
          </ng-template>
          <ng-template #contentLoggedInTemplate>
            <ul nz-menu nzTheme="light" nzSelectable>
              <li nz-menu-item [routerLink]="'./profile'">
                <i nz-icon nzType="profile" nzTheme="outline"></i>
                <span>Profiles</span>
              </li>
              <li nz-menu-item (click)="rechargeMoneyModal = true" *ngIf="(userDetails$ | async)?.isActive && (userDetails$ | async)?.roleId !== 0">
                <i nz-icon nzType="dollar" nzTheme="outline"></i>
                <span>Recharge $</span>
              </li>
              <li nz-menu-item *ngIf="(userDetails$ | async)?.isActive && (userDetails$ | async)?.roleId !== 0">
                <i nz-icon nzType="history" nzTheme="outline"></i>
                <span>History</span>
              </li>
              <li nz-menu-item nzDanger (click)="onLogOut()">
                <i nz-icon nzType="logout" nzTheme="outline"></i>
                <span>Logout</span>
              </li>
            </ul>
          </ng-template>
          <ng-template #contentNotLoggedInTemplate>
            <ul nz-menu nzTheme="light" nzSelectable>
              <li nz-menu-item (click)="navigateLogin()">
                <i nz-icon nzType="login" nzTheme="outline"></i>
                <span>Login</span>
              </li>
              <li nz-menu-item [routerLink]="'./register'">
                <i nz-icon nzType="user-add" nzTheme="outline"></i>
                <span>Register</span>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </nz-header>
    <nz-content class="content-background">
      <div class="inner-content">
        <router-outlet></router-outlet>
        <div class="d-flex justify-content-center">
<!--          <div class="spinner-border text-success isLoading" role="status">-->
<!--            <span class="sr-only">Loading...</span>-->
<!--          </div>-->
          <nz-spin nzSimple [nzIndicator]="indicatorTemplate" [nzSpinning]="(isLoading$ | async)" class="isLoading">
          </nz-spin>
        </div>
      </div>

      <ng-template #indicatorTemplate>
        <div style="font-size: 25px" >
          <i nz-icon nzType="loading"></i>
          <br>
          Loading
        </div>
      </ng-template>

    </nz-content>
    <nz-footer>Anhnd Design ©2021 Implement By Duc Anh</nz-footer>
  </nz-layout>
</nz-layout>


<nz-modal [(nzVisible)]="rechargeMoneyModal" nzWidth="70vh" nzTitle="Recharge money form" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <div class="mb-3">
      <h5 class="d-flex justify-content-center text-center">Please send money to our bank account then type information below and wait for admin approve</h5>
      <span class="d-flex justify-content-center"><strong>Bank</strong>: Vietcom Bank</span>
      <span class="d-flex justify-content-center"><strong>Owner</strong>: Nguyen Duc Anh</span>
      <span class="d-flex justify-content-center"><strong>Code</strong>: 1234675246457654</span>
    </div>
    <hr>
    <form nz-form [formGroup]="rechargeForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Information</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input the information of that trading session!">
          <textarea
            nz-input id="information" formControlName="information"
            placeholder="Information of that trading session"
            [nzAutosize]="{ minRows: 4, maxRows: 8 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Money amount</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your amount you sent to bank!">
          <input nz-input id="amount" type="number" formControlName="amount" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="rechargeForm.invalid || (isLoading$ | async)" (click)="handleOk()">Submit</button>
  </div>

</nz-modal>
