.header-nav {
  height: 80px;
}

.music-background {
  background-image: url("~src/assets/header3.jpg");
}
.layout {
  min-height: 100vh;
}

nz-sider {
  //overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

.right-layout {
  margin-left: 200px;
  transition: margin 200ms;
}
.right-layout.close {
  margin-left: 80px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 20px 5px 0;
  overflow: initial;
}

.inner-content {
  text-align: center;
  min-height: 80vh;
  background-color: #fff;
}
.content-background {
  //background-image: url("~src/assets/png.png");
  //z-index: 100000;
  margin-left: 0 !important;
  margin-top: 16px !important;
}
.min-h-vh-80 {
  min-height: 80vh;
}

.max-h-vh-100 {
  min-height: 100vh;
}

nz-footer {
  text-align: center;
}

.isLoading {
  position: absolute;
  top: 15%;
  z-index: 9999;
}
