<div class="row p-2 mx-0">
  <h4>Profile page</h4>
  <div class="col"></div>
  <div class="col-10"><hr></div>
  <div class="col"></div>
</div>
<div class="row d-flex justify-content-center my-3 mx-0">
  <div class="col-3">
    <nz-card nzHoverable style="" [nzCover]="coverTemplate" (click)="showModal(1)">
      <nz-card-meta nzTitle="Avatar" nzDescription="{{(userDetails$ | async)?.avatar}}"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" [src]="(userDetails$ | async)?.avatar" />
    </ng-template>
    <div class="row pt-2">
      <div class="col">
        <button nz-button nzType="primary" [nzSize]="''" nzShape="round" (click)="showModal(1)">Upload</button>
      </div>
      <div class="col">
        <button nz-button nzType="primary" [nzSize]="''" nzShape="round" (click)="showModal(2)">Change</button>
      </div>
    </div>
  </div>
  <div class="col-6 " style="border-style: double">
    <nz-descriptions nzTitle="User Info">
      <nz-descriptions-item nzTitle="Name">{{(userDetails$ | async)?.fullName}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Telephone">{{(userDetails$ | async)?.phone}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Email">{{(userDetails$ | async)?.email}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Active">
        <nz-switch nzSize="small" disabled [ngModel]="(userDetails$ | async)?.isActive"></nz-switch>
        <a href="javascript:void(0)" *ngIf="(userDetails$ | async)?.isActive === false" class="text-danger mx-2"> Active email now</a>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Role">
        {{(userDetails$ | async)?.roleId === 0 ? 'Admin' :
        (userDetails$ | async)?.roleId === 1 ? 'Singer' :
          (userDetails$ | async)?.roleId === 2 ? 'User' : ''}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Money">
        {{(userDetails$ | async)?.money + ' VND'}}
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
</div>


<nz-modal [(nzVisible)]="isVisible" nzWidth="35vh" nzTitle="Upload avatar" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <nz-upload style="height: 30vh" class="d-flex align-content-center"
      nzListType="picture-card"
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      [(nzFileList)]="fileList"
      [nzShowButton]="fileList.length < 1"
      [nzPreview]="handlePreview">
      <div>
        <i nz-icon nzType="plus"></i>
        <div style="margin-top: 8px">Upload</div>
      </div>
    </nz-upload>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Submit</button>
  </div>
  <nz-modal
    [nzVisible]="previewVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="previewVisible = false"
  >
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>
</nz-modal>

