/* You can add global styles to this file, and also import other style files */
.ant-upload-list-picture-card .ant-upload-list-item{
  width: 30vh !important;
  height: 30vh !important;
}

.disabled {
  background-color: lightgray !important;
}
@import '~@vime/core/themes/default.css';

/* Optional light theme (extends default). ~400B */
@import '~@vime/core/themes/light.css';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
